
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Merriweather&family=Press+Start+2P&family=Raleway:wght@100;200;300;500;700&family=Roboto:wght@400;700&family=Space+Grotesk:wght@300;400&display=swap');

:root{
    font-family: 'Carrois Gothic SC', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Space Grotesk', sans-serif;
}



h1{
    font-family: sans-serif;
    font-weight: bolder;
    scale:1.5;
    transform-box: fill-box;
    width: calc(100% / 1.5);
    animation: Revelio ease-in 1s forwards
}


@keyframes Revelio {
    0%{
        opacity: 0;
        filter: blur(5);
        scale: 0.7;
    }

    100%{
        opacity:1;
        filter: blur(0);
        scale: 1.5;
        width: calc(100% / 1.5);
    }
    
}

div#step-1,div#step-2,div#step-3{
    opacity: 0;

    animation: RevelioNoScale 1s forwards;
}

div#step-2{
opacity: 0;
animation-delay: 1s;
}

div#step-3{
    opacity: 0;

    animation-delay: 2s;

}

@keyframes RevelioNoScale {
    0%{
        opacity: 0;
        filter: blur(5);
        scale: 0.7;
    }

    100%{
        opacity:1;
        filter: blur(0);
        scale: 1;
    }
    
}

.visible{
    animation: appear forwards 1s ease
}

@keyframes appear {
    0%{
        opacity: 0;
        filter: blur(5);
        scale: 0.7;
    }

    100%{
        opacity:1;
        filter: blur(0);
        scale:1;
    }
    
    
}

header{
    justify-content: center;

}

h3,h2{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;

}

body{
    background: rgb(4,9,68);
background: linear-gradient(90deg, rgba(4,9,68,1) 0%, rgba(3,47,101,1) 50%, rgba(4,9,68,1) 100%);
}

a{
    scale:1.25;
}

a:hover{
    animation: hover forwards 1s ease
}

@keyframes hover {
    100%{
        scale:1.5
    }
    
}

p,strong{
    display:inline;
}